---
import { endpointFetch } from "../functions/endpoint"

// const runtime = Astro.locals.runtime;
// const endpoint = endpointFetch( runtime.env.ENVIRONMENT )

// // NETWORK CALL TO GET DATA
// const network_data = await fetch( endpoint + "/home" )
// const data_json = await network_data.json()

// IMPORT ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"
import Container from "../layouts/Container.astro"

// IMPORT ASTRO COMPONENTS
import Clients from "../components/home/Clients.astro"
import FAQ from "../components/home/FAQ.astro"
import Footer from "../components/common/Footer.astro"
import HeaderBanner from "../components/common/HeaderBanner.astro"
import Industries from "../components/home/Industries.astro"
import LatestPosts from "../components/home/LatestPosts.astro"
import Hero from "../components/home/Hero.astro"
import Partner from "../components/home/Partner.astro"
import PeopleAreSaying from "../components/home/PeopleAreSaying.astro"
import Services from "../components/home/Services.astro"
import TellUsAboutYou from "../components/home/TellUsAboutYou.astro"

// IMPORT JSX COMPONENTS
import Header from "../components/common/Header"
---
<Layout title="Digital Marketing Agency | NinjaPromo">
	<section class="relative h-screen max-h-screen">
		<HeaderBanner />
		<Header client:load />
		<Hero />
	</section>
	<Services services={ Array(17).fill("") } />
	<Partner />
	<Industries services={ Array(12).fill("") } />
	<PeopleAreSaying />
	<Container>
		<Clients clients={ Array(18).fill("") } />
		<FAQ />
		<LatestPosts />
	</Container>
	<TellUsAboutYou />
	<Footer />
</Layout>
