<button class=`bg-ninjapromo_blue text-white font-medium h-14 flex justify-center items-center px-12 transition duration-300 relative overflow-hidden
    after:bg-ninjapromo_accent_blue after:h-full after:w-0 after:absolute after:right-[100%] after:origin-top-right after:skew-x-[-45deg] after:duration-500
    hover:after:right-[-30%] hover:after:duration-500 hover:after:w-[150%]
`>
    <slot />
</button>
