---
const { href } = Astro.props
---
<a href={ href }>
    <button class="bg-ninjapromo_blue hover:bg-blue-600 text-white font-medium h-14 flex justify-center items-center px-12 transition duration-300">
        <slot />
    </button>
</a>
