---
// IMPORT ASTRO COMPONENTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import Button from "../../atoms/Button.astro"
const hero_images = Array(4).fill({

	source: "logo/logo-4.png",
	alt: "image alt text",
	link: "/about"

})
---
<section class="h-full w-full bg-cover bg-[url('/hero-bg-front.jpeg')]">
	<Container>
		<section class="text-white px-10 pt-40 space-y-10">
			<h1 class="text-center text-6xl font-medium mb-4 leading-tight">
				Your Full Service Digital Marketing Company
				<br/>
				For
				<span class="bg-ninjapromo_blue py-1 px-3">Crypto</span>
			</h1>
			<p class="text-xl text-center">A leading digital marketing agency dedicated to elevating your brand through multi-channel marketing solutions, branding and creative design.</p>
			<div class="space-x-4 mb-10 flex items-center justify-center">
				<Button>Request A Free Proposal</Button>
				<a href="#">
					<div class="flex items-center group">
						<button class="bg-transparent text-white text-xl font-medium py-3 px-6">
							Meet NinjaPromo
						</button>
						<div class="bg-white group-hover:bg-ninjapromo_blue rounded-full p-2">
							<div class="group-hover:hidden w-4 aspect-square">
								<img
									src="/icons/blue_right_arrow.svg"
									alt=""
									class="w-4 aspect-square"
								/>
							</div>
							<div class="hidden group-hover:block w-4 aspect-square">
								<img
									src="/icons/white_right_arrow.svg"
									alt=""
									class="w-4 aspect-square"
								/>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="grid grid-cols-4 justify-center items-center">
				{

					hero_images.map( ( data ) => {

						return (
							<a href={ data.link }>
								<div class="w-full flex justify-center">
									<img
										src={ data.source }
										alt={ data.alt }
										class="h-12 object-fill"
									/>
								</div>
							</a>
						)

					})

				}
			</div>
		</section>
	</Container>
</section>
