---
// IMPORT LAYOUTS
import Container from "../../layouts/Container.astro"
---

<header class="bg-black text-white">
	<Container>
		<nav class="p-4 flex items-center justify-between">
			<!-- Logo -->
			<a href="/" class="flex items-center">
				<img
					src="logo/logo.svg"
					alt="Ninja Promo"
					class="h-8 mr-4"
				/>
			</a>

			<!-- Navigation Links -->
			<ul class="hidden md:flex items-center gap-14">
				<li>
					<a class="hover:text-gray-300">Services</a>
				</li>
				<li>
					<a class="hover:text-gray-300">Industries</a>
				</li>
				<li>
					<a class="hover:text-gray-300">Work</a>
				</li>
				<li>
					<a class="hover:text-gray-300">Company</a>
				</li>
				<li>
					<a class="hover:text-gray-300">Contact</a>
				</li>
			</ul>

			<!-- Call to Action Button -->
			<a class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4">Book Intro Call</a>
		</nav>
	</Container>
</header>
